body {
  font-family: sans-serif;
}
#navheader {
  background-color: #666;
  color: #fff;
}
core-scaffold::shadow core-toolbar {
  background-color: #666;
}
span[tool]>a {
  color: #fff;
  text-decoration: none;
}
a {
  color: #000;
  text-decoration: none;
}
core-item[lines] {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
core-item:last-child {
  border-bottom: none;
}
